#painter {
	margin: 30px auto;
	width: 600px;
}

#cursor {
	position: fixed;
}

canvas {
	border: solid black 1px;
	cursor: crosshair;
	border-radius: 2px;
}

#tools div {
	cursor: pointer;
	display: inline-block;
}

.color-pick {
	width: 28px;
	height: 28px;
	border: solid black 1px;
	border-radius: 5px;
}


.weight-pick {
	background-color: black;
	/*border: solid white 1px;*/
}

#clear {
	background-image: url("./clear.png");
	width: 30px;
	height: 30px;
}

.painting {
	box-shadow: 0px 0px 5px 5px orange;
}